*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.text-green{
  color:lightgreen;
}
.color-dark{
  background-color:black;
}
.logo{
  height: 50px;
  width: 200px;
  object-fit: contain;
  margin-top: 10px;
}
.dashboard__title{
  display:flex;
  justify-content: space-between;
  background-color: #fff;
}

.form{
  height: 100vh;  
}


